@import 'typography';

.container {
  position: relative;
  text-align: center;
  padding: 30px 84px 34px 84px;

  h1 {
    font-family: $forum-font;
    font-size: 24px;
  }

  p {
    font-size: $size;
    width: 248px;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 16px;
  cursor: pointer;
}

::ng-deep {
  .mat-dialog-container {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}
