<div class="container">
  <h1 mat-dialog-title>Заявка принята</h1>

  <div mat-dialog-content>
    <p>Отлично! Ваша заявка успешно отправлена! Мы перезвоним Вам в ближайшее время. Спасибо!</p>
  </div>
  <!-- <mat-icon class="close" (click)="close()">clear</mat-icon> -->
  <svg
    width="13"
    height="13"
    viewBox="0 0 13 13"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="close"
    (click)="close()"
  >
    <path d="M1.11621 0.716309L11.8835 12.2847" stroke="#CCCCCC" />
    <path d="M1.12744 12.2954L11.8729 0.705563" stroke="#CCCCCC" />
  </svg>
</div>
