<header class="header">
  <div class="container">
    <div class="header-main-body">
      <div class="header-main-body__nav-bar-item">
        <ul>
          <li><a routerLink="">Наша команда</a></li>
          <li><a routerLink="routine">Режим дня</a></li>
          <li><a routerLink="menu">Меню</a></li>
          <li><a routerLink="price">Цены</a></li>
        </ul>
      </div>

      <a routerLink="/"><img src="assets/img/LogoHeader.png" alt="##" /></a>

      <div class="header-main-body__nav-bar-item">
        <ul>
          <li><a routerLink="">Фото</a></li>
          <li><a routerLink="">Документы</a></li>
          <li><a routerLink="">Контакты</a></li>
        </ul>

        <div class="header-main-body__contacts-block">
          <h2>+7(928) 160 00 11</h2>
          <h3 class="title title_small">пн-пт, с 08:00 до 19:00</h3>
          <h4 class="title title_micro">ул. 3-я Круговая, 61в/42</h4>
        </div>
      </div>
    </div>
  </div>
</header>
