<header class="ng-header">
  <div class="container">
    <div class="ng-header-main-body">
      <div class="nav-bar-item">
        <ul>
          <li>Наша команда</li>
          <li>Режим дня</li>
          <li>Меню</li>
          <li>Цены</li>
        </ul>
      </div>

      <img src="../../assets/img/LogoHeader.png" alt="##" />
      <div class="nav-bar-item">
        <ul>
          <li>Фото</li>
          <li>Документы</li>
          <li>Контакты</li>
        </ul>
        <div class="contacts-block">
          <h2>+7(928) 160 00 11</h2>
          <h3>пн-пт, с 08:00 до 19:00</h3>
          <h4>ул. 3-я Круговая, 61в/42</h4>
        </div>
      </div>
    </div>
  </div>
</header>
