<footer class="footer">
  <div class="contanier">
    <div class="footer-main-body">
      <div class="footer-main-body__item footer-main-body__item_first">
        <div class="text-box">
          <img src="assets/img/LogoHeader.png" class="text-box__img-logo" />
          <p>&copy; Все права защищены. 2021.</p>
        </div>
        <h3>Политика конфиденциальности</h3>
      </div>
      <div class="footer-main-body__item">
        <p>Часы работы детского сада</p>
        <h4>Пн-Пт, с 8:00 до 19:00</h4>
        <p>Контактный телефон</p>
        <h4>+7 (928) 160 00 11</h4>
        <p>Наш адрес</p>
        <h4>ул. 3-я Круговая, 61в/43</h4>
        <p>Наша почта</p>
        <h4>goldenbaby_rnd@bk.ru</h4>
      </div>
      <div class="footer-main-body__item">
        <ul>
          <li>Наша команда</li>
          <li>Режим дня</li>
          <li>Меню</li>
          <li>Цены</li>
          <li>Фото</li>
          <li>Документы</li>
          <li>Контакты</li>
        </ul>
      </div>
      <div class="footer-main-body__item footer-main-body__item_second">
        <div class="img-box">
          <img src="assets/img/ImgInst.png" />
          <img src="assets/img/ImgWA.png" />
        </div>
      </div>
    </div>
  </div>
</footer>
