<footer class="ng-footer">
  <div class="contanier">
    <div class="footer-main-body">
      <div class="footer-main_item" style="justify-content: space-around">
        <div class="text-box">
          <img src="../../assets/img/LogoHeader.png" alt="" style="width: 56%; margin-top: -35px" />
          <p style="font-size: 9px; line-height: 9px">&copy; Все права защищены. 2021.</p>
        </div>
        <h3>Политика конфиденциальности</h3>
      </div>
      <div class="footer-main_item">
        <p>Часы работы детского сада</p>
        <h4>Пн-Пт, с 8:00 до 19:00</h4>
        <p>Контактный телефон</p>
        <h4>+7 (928) 160 00 11</h4>
        <p>Наш адрес</p>
        <h4>ул. 3-я Круговая, 61в/43</h4>
        <p>Наша почта</p>
        <h4>goldenbaby_rnd@bk.ru</h4>
      </div>
      <div class="footer-main_item">
        <ul>
          <li>Наша команда</li>
          <li>Режим дня</li>
          <li>Меню</li>
          <li>Цены</li>
          <li>Фото</li>
          <li>Документы</li>
          <li>Контакты</li>
        </ul>
      </div>
      <div class="footer-main_item" style="height: 60%; padding-bottom: 88px">
        <div class="img-box">
          <img src="../../assets/img/ImgInst.png" alt="" />
          <img src="../../assets/img/ImgWA.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
