.contanier {
  width: 1180px;
  margin: 0 auto;
}
.footer {
  display: flex;
  flex: 0 0 auto;
  background: #6a3cae;
  height: 209px;
  margin-top: 180px;
  .footer-main-body {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .footer-main_item {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      p,
      li,
      h3,
      h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

        color: #ffffff;
      }
      h4 {
        font-weight: 600;
        margin-bottom: 7px;
      }

      li {
        margin-bottom: 2px;
      }

      .img-box {
        img {
          padding: 4px;
        }
      }
    }
  }
}
