<div class="adaptation-block">
  <div class="adaptation-block__box-midl">
    <div class="paragraph-item paragraph-item__second">
      <div class="number-box number-box__third">
        <h3>3</h3>
      </div>

      <div class="paragraph-item__text-box">
        <p>Всё в садике даёт ребенку ощущение безопасности</p>
      </div>
    </div>

    <div class="paragraph-item paragraph-item__third">
      <div class="number-box number-box__fourth">
        <h3>4</h3>
      </div>

      <div class="paragraph-item__text-box">
        <p>
          Разрабатываем индивидуальный режим дня каждого ребенка в соответствии с алгоритмом
          постепенного вхождения в детский сад
        </p>
      </div>
    </div>

    <img src="assets/img/arrow3.png" class="adaptation-block__arrow_third" />
    <img src="assets/img/arrow4.png" class="adaptation-block__arrow_fourth" />
  </div>
</div>
