.date-picker {
  &__body {
    position: absolute;
    border-radius: 0 0 4px 4px;
    z-index: 99999999999;
    border: 1px solid #bebebe42;
  }
}

.date {
  position: relative;
  display: flex;
  align-items: baseline &__control {
    position: relative;
    outline: none;
    cursor: pointer;
  }
}

.back {
  width: 0;
  height: 0;
  z-index: 99999999;

  &_active {
    position: fixed;
    background: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.calendar {
  background: white;
  opacity: 0;
  width: 0;
  height: 0;
  transition: 0.1s ease-out;
  overflow: hidden;
  padding: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
      display: flex;
      justify-content: space-between;
      width: 55px;
    }
  }

  &__mode {
    width: 120px;
    padding: 5px;
    border: none;
    background: none;
    transition: 0.3s ease-out;

    &:hover {
      background: #dfe3e94a;
      transition: 0.3s ease-in;
    }
  }

  &__week-days {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 15px;
    border-bottom: 1px solid #bababa;

    & > div {
      font-size: 12px;
    }
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease-out;

    &:hover {
      background-color: #dfe3e9;
      transition: 0.3s ease-in;
    }

    &_active {
      background-color: #3a89ff;
      color: white;

      &:hover {
        background-color: #3a89ff;
        color: white;
      }
    }
  }

  &__dummy {
    min-width: 40px;
    max-width: 40px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &_active {
    width: 300px;
    height: 340px;
    padding: 10px;
    opacity: 1;
    transition: 0.1s ease-in;
  }

  &_increased {
    height: 380px;
  }
}
