<div class="ng-main-page">
  <div class="container">
    <div class="ng-main-page-body">
      <div class="ng-main-entranse">
        <div class="offer-box">
          <div class="text-block">
            <img src="../../assets/img/VectorImg.png" alt="" class="img-vector" />
            <h2>Золотой малыш</h2>
            <h4>Интелектуальный детский сад</h4>
            <p>В нашем саду вы найдете комплексный и экологичный подход в воспитании ребенка.</p>
            <img src="../../assets/img/coronaImg.png" alt="" class="corona-img" />
            <button class="btn-application">Оставить заявку</button>
          </div>
        </div>
        <div class="img-box">
          <div class="back-gr-box"></div>
        </div>
      </div>
    </div>
  </div>
</div>
