<div class="ng-main-page">
  <div class="container">
    <div class="ng-main-page-body">
      <div class="ng-main-entranse">
        <div class="offer-box">
          <div class="text-block">
            <img src="../../assets/img/VectorImg.png" alt="" class="img-vector" />
            <h2>Золотой малыш</h2>
            <h4>Интелектуальный детский сад</h4>
            <p>В нашем саду вы найдете комплексный и экологичный подход в воспитании ребенка.</p>
            <app-button-red-app titleButton="Оставить заявку"></app-button-red-app>
          </div>
        </div>
        <div class="img-box">
          <div class="back-gr-box">
            <svg
              width="786"
              height="532"
              viewBox="0 0 786 532"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M303.007 10.3712C243.298 5.76127 243.511 -4.11839 159.017 1.87726C74.5227 7.87291 45.0247 133.282 29.0259 202.232C13.0271 271.182 -17.4707 344.129 13.027 412.08C43.5248 480.03 156.517 523.999 214.513 530.494C272.509 536.99 308.006 521.001 361.503 510.509C414.999 500.016 459.996 470.537 521.991 466.54C583.987 462.543 692.98 495.519 752.975 450.552C812.971 405.585 776.474 320.646 757.975 220.719C739.476 120.791 737.976 56.3379 680.981 18.865C623.985 -18.6078 544.99 30.3567 473.995 26.3596C403 22.3625 366.315 15.259 303.007 10.3712Z"
                fill="url(#paint0_linear_813_1748)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_813_1748"
                  x1="9.57997"
                  y1="291.678"
                  x2="634.368"
                  y2="280.725"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FFB522" />
                  <stop offset="1" stop-color="#E7A115" />
                </linearGradient>
              </defs>
            </svg>
            <img src="../../assets/img/ImgMainEntrance.png" alt="" style="z-index: 2" />
            <img src="../../assets/img/fonItemEntr.png" alt="" class="BlockfonImg" />
          </div>
        </div>
      </div>
      <div class="ng-main-parentInf-block">
        <div class="text-box">
          <h2>Дорогие родители!</h2>
          <p>
            Детский сад “Золотой малыш” - это закрытое премиальное клубное пространство, на площадке
            которого осуществяется не просто базовый присмотр и уход. Это комфортная, здоровая,
            веселая, душевная среда игрового времяпровождения детей.
          </p>
          <p>
            Наша задача, что бы ваши дети выросли здоровыми, счастливыми и успешными. Ребенок, его
            свобода, любознательность, интерес к познанию - главные ценности нашего проекта. Мы
            создали Детский сад, который нравится не только родителям, но и детям!
          </p>
        </div>
        <img src="../../assets/img/VectorImgBlock2.png" alt="" class="vectorImg2" />
      </div>
      <app-conditions-comp-block></app-conditions-comp-block>
      <app-groups-view></app-groups-view>
    </div>
  </div>
</div>
