<div class="conditions">
  <h2 class="conditions__title">Мы предлагаем</h2>

  <div class="conditions__up">
    <div class="item item_null">
      <img src="assets/img/heart-hands.png" alt="" />
      <div class="number">1</div>
    </div>

    <div class="item item_first">
      <p>
        Во всех помещениях предусмотрены: система пожарной сигнализации, система оповещения, система
        контроля и управления доступом. Помещения оборудованы камерами видеонаблюдения
      </p>
      <h2>Безопасность</h2>
    </div>

    <div class="item item_second">
      <img src="assets/img/list-img.png" alt="" />
      <div class="number">3</div>
    </div>

    <div class="item item_third">
      <p>
        Мы не останавливаемся и развиваемся с учетом современных тенденций. Малыши получают бережное
        психологическое воспитание с использованием всех современных технологий на благо, а не во
        вред
      </p>
      <h2>Лучшие игровые методики</h2>
    </div>
  </div>

  <div class="conditions__down">
    <div class="item item_fourth">
      <h2>Бережный присмотр и уход</h2>
      <p>
        Особый подход к вашему ребенку, исключительно в игровой форме. Использование принципов
        гуманной педагогики, применение здоровьесберегающих методик
      </p>
    </div>

    <div class="item item_fifth">
      <div class="number">2</div>
      <img src="assets/img/lock-img.png" alt="" />
    </div>

    <div class="item item_sixth">
      <h2>Экологичный подход</h2>
      <p>
        Мы предоставим для Вашего ребенка все самое лучшее, полезное. Нам важно, что бы малыш
        получал именно экологичное отношение к личности и интеллекту
      </p>
    </div>

    <div class="item">
      <div class="number">4</div>
      <img src="assets/img/books-img.png" alt="" />
    </div>
  </div>
</div>
