@import '../../adaptation-children.component.scss';
@import 'variables';

.adaptation-block {
  &__box-top {
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }

  .paragraph-item {
    display: inherit;
    height: 155px;
    width: 400px;

    &__first {
      padding-top: 65px;
      background: url(~/src/assets/svg/fon-adaptation1.svg) no-repeat;
      background-position: right 30px bottom 25px;
    }

    .number-box {
      h3 {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $white;
      }

      &__first {
        background: rgba(134, 73, 239, 0.2);
      }

      &__second {
        background: rgba(134, 73, 239, 0.4);
      }
    }

    &__text-box {
      width: 277px;
      height: 88px;
    }
  }

  &__arrow {
    &_first {
      position: absolute;
      top: -62px;
      left: 416px;
    }

    &_second {
      position: absolute;
      top: 135px;
      right: 435px;
    }
  }
}
