<div class="map">
  <div class="container">
    <app-link-return></app-link-return>

    <div class="map__title">
      <h1>Контакты</h1>
    </div>

    <div class="map__box-body">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2710.7066330473676!2d39.655022!3d47.2027543!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3bed6a0d40339%3A0x10035176acec6be5!2zMy3RjyDQmtGA0YPQs9C-0LLQsNGPINGD0LsuLCA2MdCQLCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCAzNDQwNTg!5e0!3m2!1sru!2s!4v1651864537325!5m2!1sru!2s"
        width="1126"
        height="566"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="map__contact-box">
      <div class="map__requisites">
        <div class="map__requisites_title">
          <h3>Реквизиты</h3>
        </div>

        <div class="map__requisites_text">
          <h6>ИНН</h6>
          <p>615427874059</p>
        </div>

        <div class="map__requisites_text">
          <h6>ОГРНИП</h6>
          <p>318619600214013</p>
        </div>

        <div class="map__requisites_text">
          <h6>Р/С</h6>
          <h5>
            40802810526140001919 <br />
            ФИЛИАЛ “РОСТОВСКИЙ” АО “АЛЬФА-БАНК”
          </h5>
        </div>

        <div class="map__requisites_text">
          <h6>БИК</h6>
          <p>046015207</p>
        </div>

        <div class="map__requisites_text">
          <h6>Юр. адрес</h6>
          <p>г. Ростов-на-Дону, 3-я Круговая улица, 61в/43</p>
        </div>
      </div>
      <div class="map__data">
        <div class="map__data_text">
          <h6>Адрес</h6>
          <p>г. Ростов-на-Дону, 3-я Круговая улица, 61в/43</p>
        </div>

        <div class="map__data_text">
          <h6>Телефон</h6>
          <p>8 (928) 160 00 11</p>
        </div>

        <div class="map__data_text">
          <h6>E-mail</h6>
          <h5>goldenbaby_rnd@bk.ru</h5>
        </div>

        <div class="map__data_text">
          <h6>Режим работы</h6>
          <p>с 8:00 до 19:00, пн-пт</p>
        </div>
      </div>
    </div>
  </div> 
</div>
