<form class="feedback" [formGroup]="feedbackForm">
  <h2>Оставьте заявку</h2>
  <h4>Заполните форму и мы Вам перезвоним</h4>

  <div class="feedback__form-field">
    <app-input
      placeholder="Ваше имя*"
      formControlName="parentName"
      [class.feedback__form-field_input-error]="invalid('parentName')"
    ></app-input>

    <ng-container *ngIf="invalid('parentName')">
      <div>
        <span class="feedback__form-field_error"> Это поле необъодимо заполнить </span>
      </div>
    </ng-container>
  </div>

  <div class="feedback__form-field">
    <app-input
      placeholder="Имя ребенка"
      formControlName="childName"
      [class.feedback__form-field_input-error]="invalid('childName')"
    ></app-input>
  </div>

  <div class="feedback__form-field">
    <app-date-picker formControlName="birthday" [minYear]="2020" [maxYear]="2030"></app-date-picker>
  </div>

  <div class="feedback__form-field">
    <app-input
      placeholder="+7 000 000 00 00*"
      formControlName="phone"
      [class.feedback__form-field_input-error]="invalid('phone')"
    ></app-input>

    <ng-container *ngIf="invalid('phone')">
      <div>
        <span class="feedback__form-field_error">
          Телефон должен иметь формат +7 000 000 00 00
        </span>
      </div>
    </ng-container>
  </div>

  <div class="feedback__form-field">
    <app-input placeholder="Комментарий" formControlName="comment"></app-input>
  </div>

  <div class="checkbox">
    <input type="checkbox" class="checkbox__item" id="checkbox-id" formControlName="checkbox" />
    <label for="checkbox-id" class="checkbox__label">
      Я согласен(а) на обработку персональных данных и принимаю политику конфиденциальности
    </label>
  </div>

  <div class="feedback__button">
    <app-button
      title="Отправить"
      [disabled]="!!feedbackForm?.invalid"
      (click)="submit()"
    ></app-button>
  </div>
</form>
