<div class="ng-adaptation-block">
  <div class="title-box">
    <h2>Как происходит адаптация детей в саду?</h2>
    <p>
      Каждый ребенок по-своему уникален и поэтому по-разному приспосабливается к новому месту. Мы
      поможем Вашему малышу постепенно, плавно и мягко адаптироваться в детском саду.
    </p>
  </div>
  <div class="paragr-box">
    <div class="box-top">
      <div class="paragr-box_item">
        <div class="number-box" [ngStyle]="{ background: 'rgba(134, 73, 239, 0.2)' }">
          <h3>1</h3>
        </div>
        <div class="text-box">
          <p>
            За счет постепенного увеличения времени пребывания в группе, малышу с каждым разом все
            легче и легче оставаться на длительный срок без родителя
          </p>
        </div>
      </div>
      <div
        class="paragr-box_item"
        [ngStyle]="{
          margin: '75px 0 0 0'
        }"
      >
        <div class="number-box" [ngStyle]="{ background: 'rgba(134, 73, 239, 0.4)' }">
          <h3>2</h3>
        </div>
        <div class="text-box">
          <p>
            Мы вселяем в малыша уверенность и чувство успешности в разнообразных действиях, за счет
            увлечения интересными играми и заданиями
          </p>
        </div>
      </div>
      <img
        src="../../assets/img/arrow1.png"
        alt=""
        style="position: absolute; top: -62px; left: 416px"
      />
      <img
        src="../../assets/img/arrow2.png"
        alt=""
        style="position: absolute; top: 135px; right: 435px"
      />
      <img
        src="../../assets/img/fon-adaptation1.svg"
        alt=""
        style="position: absolute; top: 38px; right: 127px"
      />
    </div>

    <div class="box-midl">
      <div class="paragr-box_item" [ngStyle]="{ margin: '0 0 0 215px' }">
        <div class="number-box" [ngStyle]="{ background: ' rgba(134, 73, 239, 0.65)' }">
          <h3>3</h3>
        </div>
        <div class="text-box">
          <p>Всё в садике даёт ребенку ощущение безопасности</p>
        </div>
      </div>
      <div class="paragr-box_item" [ngStyle]="{ margin: '96px 0 0 0' }">
        <div class="number-box" [ngStyle]="{ background: 'rgba(134, 73, 239, 0.8)' }">
          <h3>4</h3>
        </div>
        <div class="text-box">
          <p>
            Разрабатываем индивидуальный режим дня каждого ребенка в соответствии с алгоритмом
            постепенного вхождения в детский сад
          </p>
        </div>
      </div>
      <img
        src="../../assets/img/arrow3.png"
        alt=""
        style="position: absolute; top: 47px; right: 443px"
      />
      <img
        src="../../assets/img/arrow4.png"
        alt=""
        style="position: absolute; top: 199px; right: 290px"
      />
      <img
        src="../../assets/img/fon-adaptation2.svg"
        alt=""
        style="position: absolute; top: -32px; left: 302px; z-index: -1"
      />
      <img
        src="../../assets/img/fon-adaptation3.svg"
        alt=""
        style="position: absolute; top: 60px; right: 194px; z-index: -1"
      />
    </div>
    <div class="box-botm">
      <div class="paragr-box_item" [ngStyle]="{ margin: '71px 43% 0 0' }">
        <div class="number-box">
          <h3>5</h3>
        </div>
        <div class="text-box">
          <p>
            После всех этапов Ваш малыш с радостью и нетерпением будет оставаться на целый день в
            нашем саду
          </p>
        </div>
      </div>
      <img
        src="../../assets/img/arrow5.png"
        alt=""
        style="position: absolute; top: 149px; left: 210px"
      />
      <img
        src="../../assets/img/fon-adaptation4.svg"
        alt=""
        style="z-index: -1; position: absolute; top: 34px; left: 255px"
      />
    </div>
  </div>
</div>
