<div class="menu-page">
  <div class="container">
    <app-link-return></app-link-return>

    <div class="menu-page__logo">
      <img src="assets/img/logo-menu-img.png" />
    </div>

    <div class="menu-page__description-menu">
      <p>Здесь вы можете ознакомиться с меню, разработанное</p>
      <p>нашим поваром, коротое соответствует всем</p>
      <p>стандартам качества детского питания</p>
    </div>

    <div class="menu-page__name-week">
      <p>1 Неделя</p>
      <img src="assets/img/menu-cook-first.png" class="cook__right-top" />
      <img src="assets/img/menu-cook-third.png" class="cook__left-top" />
    </div>

    <mat-tab-group class="menu-page__menu menu-page__menu_top">
      <ng-container *ngFor="let dayOfWeek of week">
        <mat-tab [label]="dayOfWeek.dayWeek">
          <div class="body__text">
            <h3>Завтрак</h3>
            <p>{{ dayOfWeek.breakfast }}</p>
          </div>
          <div class="body__text">
            <h3>Перекус</h3>
            <p>{{ dayOfWeek.snack }}</p>
          </div>
          <div class="body__text">
            <h3>Обед</h3>
            <p>{{ dayOfWeek.lunch }}</p>
          </div>
          <div class="body__text">
            <h3>Полдник</h3>
            <p>{{ dayOfWeek.afternoonTea }}</p>
          </div>
          <div class="body__text">
            <h3>Ужин</h3>
            <p>{{ dayOfWeek.dinner }}</p>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <div class="menu-page__name-week">
      <p>2 Неделя</p>
      <img src="assets/img/menu-cook-fouth.png" class="cook__left-bottom" />
      <img src="assets/img/menu-cook-second.png" class="cook__right-bottom" />
    </div>

    <mat-tab-group class="menu-page__menu menu-page__menu_bottom">
      <ng-container *ngFor="let dayOfWeek of week">
        <mat-tab [label]="dayOfWeek.dayWeek">
          <div class="body__text">
            <h3>Завтрак</h3>
            <p>{{ dayOfWeek.breakfast }}</p>
          </div>
          <div class="body__text">
            <h3>Перекус</h3>
            <p>{{ dayOfWeek.snack }}</p>
          </div>
          <div class="body__text">
            <h3>Обед</h3>
            <p>{{ dayOfWeek.lunch }}</p>
          </div>
          <div class="body__text">
            <h3>Полдник</h3>
            <p>{{ dayOfWeek.afternoonTea }}</p>
          </div>
          <div class="body__text">
            <h3>Ужин</h3>
            <p>{{ dayOfWeek.dinner }}</p>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>
