@import 'variables';
@import 'layout';
@import 'colors';
@import 'typography';

.menu-page {
  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 17px;
  }

  &__description-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name-week {
    margin: 25px 0 20px 124px;
  }

  &__menu {
    position: relative;
    display: flex;

    width: 835px;
    height: 236px;

    background: $white;
    box-shadow: $base-box-shadow;
    border-radius: 10px;
    font-size: $size;

    margin: 0 auto;
    padding: 50px;

    .body {
      display: flex;
      margin: 50px;
      flex-direction: column;

      &__title {
        display: flex;
        height: 40px;

        &_link {
          display: flex;

          align-items: center;
          justify-content: center;
          flex-grow: 1;

          border: $border-base;
          border-top: none;
          border-right: none;

          &:hover {
            color: $white;
            background-color: #915fe7;
          }

          a {
            text-decoration: none;
          }

          &_first {
            border-left: none;
            background-color: $white !important;
          }
        }
      }

      &__content {
        h3 {
          display: flex;
          align-items: center;

          width: 83px;
          height: 35px;
          font-size: $size;
          border-right: $border-base;

          font-weight: 600;
        }

        p {
          width: 88%;
        }
      }

      &__text {
        display: flex;
        align-items: center;
        border-bottom: $border-base;

        h3 {
          font-weight: 600;
          padding: 10px 15px 10px 0;
          width: 85px;
          border-right: $border-base;
        }
        p {
          padding-left: 10px;
          max-width: 720px;
        }
      }
    }

    &_top {
      margin-bottom: 60px;
    }

    &_bottom {
      margin-bottom: 120px;
    }
  }

  .cook {
    &__right-top {
      z-index: 9;
      position: absolute;
      right: 80px;
      top: 355px;
    }

    &__left-top {
      z-index: 9;
      position: absolute;
      left: 40px;
      top: 350px;
    }

    &__right-bottom {
      z-index: 9;
      position: absolute;
      right: 20px;
      bottom: -695px;
    }

    &__left-bottom {
      z-index: 9;
      position: absolute;
      bottom: -655px;
      left: 65px;
    }
  }
}

::ng-deep {
  .mat-tab-labels {
    justify-content: flex-end;

    .mat-tab-label {
      min-width: 147px;
      height: 40px;
      border-right: $border-base;
      border-left: $border-base;
      padding: 0;
    }
    .mat-tab-label-content {
      font-weight: 600;
    }
  }
}
