<div class="menu-page">
  <div class="container">
    <app-link-return></app-link-return>

    <div class="menu-page__logo">
      <img src="assets/img/logo-menu-img.png" />
    </div>

    <div class="menu-page__description-menu">
      <p>Здесь вы можете ознакомиться с меню, разработанное</p>
      <p>нашим поваром, коротое соответствует всем</p>
      <p>стандартам качества детского питания</p>
    </div>

    <div class="menu-page__name-week">
      <p>1 Неделя</p>
    </div>

    <div class="menu-page__menu-box">
      <img src="assets/img/menu-cook-first.png" class="cook__right-top" />
      <img src="assets/img/menu-cook-third.png" class="cook__left-top" />

      <div class="body-box">
        <div class="body-box__title">
          <div class="body-box__title_link body-box__title_link_first"></div>
          <div class="body-box__title_link">
            <a>Понедельник</a>
          </div>

          <div class="body-box__title_link">
            <a>Вторник</a>
          </div>

          <div class="body-box__title_link">
            <a>Среда</a>
          </div>

          <div class="body-box__title_link">
            <a>Четверг</a>
          </div>

          <div class="body-box__title_link">
            <a>Пятница</a>
          </div>
        </div>

        <div class="body-box__content">
          <div class="body-box__text">
            <h3>Завтрак</h3>
            <p>Каша манная молочная, чай, хлеб пшеничный с малом и сыром</p>
          </div>

          <div class="body-box__text">
            <h3>Перекус</h3>
            <p>Фрукты</p>
          </div>

          <div class="body-box__text">
            <h3>Обед</h3>
            <p>
              Свекла отворная, щи на мясном бульоне, ежики (мясо курицы) в томатном соусе, салат из
              свежых овощей, компот из свежих фруктов, хлеб ржаной
            </p>
          </div>

          <div class="body-box__text">
            <h3>Полдник</h3>
            <p>Печенье, ряженка</p>
          </div>

          <div class="body-box__text">
            <h3>Ужин</h3>
            <p>Рыбная котлета, гречка, огурец</p>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-page__name-week">
      <p>2 Неделя</p>
    </div>

    <div class="menu-page__menu-box menu-page__menu-box_bottom">
      <img src="assets/img/menu-cook-fouth.png" class="cook__left-bottom" />
      <img src="assets/img/menu-cook-second.png" class="cook__right-bottom" />

      <div class="body-box">
        <div class="body-box__title">
          <div class="body-box__title_link body-box__title_link_first"></div>
          <div class="body-box__title_link">
            <a>Понедельник</a>
          </div>

          <div class="body-box__title_link">
            <a>Вторник</a>
          </div>

          <div class="body-box__title_link">
            <a>Среда</a>
          </div>

          <div class="body-box__title_link">
            <a>Четверг</a>
          </div>

          <div class="body-box__title_link">
            <a>Пятница</a>
          </div>
        </div>

        <div class="body-box__content">
          <div class="body-box__text">
            <h3>Завтрак</h3>
            <p>Каша манная молочная, чай, хлеб пшеничный с малом и сыром</p>
          </div>

          <div class="body-box__text">
            <h3>Перекус</h3>
            <p>Фрукты</p>
          </div>

          <div class="body-box__text">
            <h3>Обед</h3>
            <p>
              Свекла отворная, щи на мясном бульоне, ежики (мясо курицы) в томатном соусе, салат из
              свежых овощей, компот из свежих фруктов, хлеб ржаной
            </p>
          </div>

          <div class="body-box__text">
            <h3>Полдник</h3>
            <p>Печенье, ряженка</p>
          </div>

          <div class="body-box__text">
            <h3>Ужин</h3>
            <p>Рыбная котлета, гречка, огурец</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
