<div class="ng-condition-block">
  <div class="title-box">
    <h2>Мы предлагаем</h2>
  </div>
  <div class="main-box-up">
    <div class="main-box-item">
      <img src="../../assets/img/heart-hands.png" alt="" />
      <div class="box-item_number">1</div>
    </div>
    <div class="main-box-item" style="margin-top: 128px">
      <p>
        Во всех помещениях предусмотрены: система пожарной сигнализации, система оповещения, система
        контроля и управления доступом. Помещения оборудованы камерами видеонаблюдения
      </p>
      <h2>Безопасность</h2>
    </div>
    <div class="main-box-item" style="margin-top: 50px">
      <img src="../../assets/img/listImg.png" alt="" />
      <div class="box-item_number">3</div>
    </div>
    <div class="main-box-item" style="margin-top: 81px">
      <p>
        Мы не останавливаемся и развиваемся с учетом современных тенденций. Малыши получают бережное
        психологическое воспитание с использованием всех современных технологий на благо, а не во
        вред
      </p>
      <h2>Лучшие игровые методики</h2>
    </div>
  </div>
  <div class="main-box-down">
    <div class="main-box-item" style="margin-top: -82px">
      <h2>Бережный присмотр и уход</h2>
      <p>
        Особый подход к вашему ребенку, исключительно в игровой форме. Использование принципов
        гуманной педагогики, применение здоровьесберегающих методик
      </p>
    </div>
    <div class="main-box-item" style="margin-top: 18px">
      <div class="box-item_number">2</div>
      <img src="../../assets/img/lockImg.png" alt="" />
    </div>
    <div class="main-box-item" style="margin-top: -44px">
      <h2>Экологичный подход</h2>
      <p>
        Мы предоставим для Вашего ребенка все самое лучшее, полезное. Нам важно, что бы малыш
        получал именно экологичное отношение к личности и интеллекту
      </p>
    </div>
    <div class="main-box-item">
      <div class="box-item_number">4</div>
      <img src="../../assets/img/booksImg.png" alt="" />
    </div>
  </div>
</div>
