.container {
  width: 1180px;
  margin: 0 auto;
}

// @mixin Adaptation-box {
//   margin-bottom: 40px;
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   flex-grow: 1;
//   justify-content: space-around;
// }

@mixin flex-col-centr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
