<header class="header">
  <div class="container">
    <div class="header-body">
      <div class="header-body__nav-item">
        <ul>
          <li><a routerLink="">Наша команда</a></li>
          <li><a routerLink="/schedule">Режим дня</a></li>
          <li><a routerLink="/menu">Меню</a></li>
          <li><a routerLink="/prices">Цены</a></li>
        </ul>
      </div>

      <a routerLink="/" class="header-body__logo-link"><img src="assets/img/LogoHeader.png" /></a>

      <div class="header-body__nav-item">
        <ul>
          <li><a routerLink="">Фото</a></li>
          <li><a routerLink="">Документы</a></li>
          <li><a routerLink="/map">Контакты</a></li>
        </ul>

        <div class="header-body__contacts">
          <h2>+7(928) 160 00 11</h2>
          <h3>пн-пт, с 08:00 до 19:00</h3>
          <h4>ул. 3-я Круговая, 61в/42</h4>
        </div>
      </div>
    </div>
  </div>
</header>
