.container {
  width: 1180px;
  margin: 0 auto;
}
.ng-daily-routine-block {
  .baby-boy-routine {
    .link-return {
      margin-top: 45px;
      font-family: Montserrat;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
    }
    .text-block {
      .title-box {
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 33px;
        color: #000000;

        text-align: center;
        margin-top: 27px;
        margin-bottom: 106px;
      }
      h2 {
        font-family: Montserrat;
        font-size: 18px;
        margin-left: 100px;
        margin-bottom: 80px;
      }
      .routine-time {
        width: 934px;
        height: 777px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .time {
          display: inherit;
          flex-direction: column;
          align-items: flex-end;
          border-right: 0.5px solid #dedede;
          h3 {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            padding: 9.5px;
          }
        }
        p,
        h3 {
          font-style: normal;
          color: #000000;
          border-bottom: 0.5px solid #dedede;
        }
        .description {
          p {
            font-family: Montserrat;

            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            padding: 10px;
          }
        }
      }
    }
  }
}
