@import 'variables';
@import 'layout';
@import 'colors';
@import 'typography';

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  img {
    border-radius: 50%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


::ng-deep {
  .mat-card {
    margin: 50px;
  }
}
