<div class="adaptation-block">
  <div class="adaptation-block__box-botm">
    <div class="paragraph-item paragraph-item__fourth">
      <div class="number-box">
        <h3>5</h3>
      </div>

      <div class="paragraph-item__text-box">
        <p>
          После всех этапов Ваш малыш с радостью и нетерпением будет оставаться на целый день в
          нашем саду
        </p>
      </div>
    </div>

    <img src="assets/img/arrow5.png" class="adaptation-block__arrow_fifth" />
  </div>
</div>
