<div class="adaptation-block">
  <div class="adaptation-block__title-box">
    <h2>Как происходит адаптация детей в саду?</h2>
    <p>
      Каждый ребенок по-своему уникален и поэтому по-разному приспосабливается к новому месту. Мы
      поможем Вашему малышу постепенно, плавно и мягко адаптироваться в детском саду.
    </p>
  </div>

  <div class="adaptation-block__paragraph-box">
    <app-box-top></app-box-top>

    <app-box-midl></app-box-midl>

    <app-box-bottom></app-box-bottom>
  </div>
</div>
