<div class="adaptation-block">
  <div class="adaptation-block__title-box">
    <h2>Как происходит адаптация детей в саду?</h2>
    <p>
      Каждый ребенок по-своему уникален и поэтому по-разному приспосабливается к новому месту. Мы
      поможем Вашему малышу постепенно, плавно и мягко адаптироваться в детском саду.
    </p>
  </div>

  <div class="adaptation-block__paragraph-box">
    <div class="adaptation-block__box-top">
      <div class="paragraph-item">
        <div class="number-box number-box__first">
          <h3>1</h3>
        </div>

        <div class="paragraph-item__text-box">
          <p>
            За счет постепенного увеличения времени пребывания в группе, малышу с каждым разом все
            легче и легче оставаться на длительный срок без родителя
          </p>
        </div>
      </div>

      <div class="paragraph-item paragraph-item__first">
        <div class="number-box number-box__second">
          <h3>2</h3>
        </div>

        <div class="paragraph-item__text-box">
          <p>
            Мы вселяем в малыша уверенность и чувство успешности в разнообразных действиях, за счет
            увлечения интересными играми и заданиями
          </p>
        </div>
      </div>

      <img src="assets/img/arrow1.png" class="adaptation-block__arrow_first" />
      <img src="assets/img/arrow2.png" class="adaptation-block__arrow_second" />
      <img src="assets/svg/fon-adaptation1.svg" class="adaptation-block__fon_first" />
    </div>

    <div class="adaptation-block__box-midl">
      <div class="paragraph-item paragraph-item__second">
        <div class="number-box number-box__third">
          <h3>3</h3>
        </div>

        <div class="paragraph-item__text-box">
          <p>Всё в садике даёт ребенку ощущение безопасности</p>
        </div>
      </div>

      <div class="paragraph-item paragraph-item__third">
        <div class="number-box number-box__fourth">
          <h3>4</h3>
        </div>

        <div class="paragraph-item__text-box">
          <p>
            Разрабатываем индивидуальный режим дня каждого ребенка в соответствии с алгоритмом
            постепенного вхождения в детский сад
          </p>
        </div>
      </div>

      <img src="assets/img/arrow3.png" class="adaptation-block__arrow_third" />
      <img src="assets/img/arrow4.png" class="adaptation-block__arrow_fourth" />
      <!-- fon boxs -->
      <img src="assets/svg/fon-adaptation2.svg" class="adaptation-block__fon_second" />
      <img src="assets/svg/fon-adaptation3.svg" class="adaptation-block__fon_third" />
    </div>

    <div class="adaptation-block__box-botm">
      <div class="paragraph-item paragraph-item__fourth">
        <div class="number-box">
          <h3>5</h3>
        </div>

        <div class="paragraph-item__text-box">
          <p>
            После всех этапов Ваш малыш с радостью и нетерпением будет оставаться на целый день в
            нашем саду
          </p>
        </div>
      </div>

      <img src="assets/img/arrow5.png" class="adaptation-block__arrow_fifth" />
      <!-- fon box -->
      <img src="assets/svg/fon-adaptation4.svg" class="adaptation-block__fon_fourth" />
    </div>
  </div>
</div>
