<div class="adaptation">
  <div class="adaptation__title">
    <h2>Как происходит адаптация детей в саду?</h2>
    <p>
      Каждый ребенок по-своему уникален и поэтому по-разному приспосабливается к новому месту. Мы
      поможем Вашему малышу постепенно, плавно и мягко адаптироваться в детском саду.
    </p>
  </div>

  <div class="adaptation adaptation_top">
    <div class="adaptation__item">
      <div class="number number__first">
        <h3>1</h3>
      </div>

      <div class="adaptation__item_text">
        <p>
          За счет постепенного увеличения времени пребывания в группе, малышу с каждым разом все
          легче и легче оставаться на длительный срок без родителя
        </p>
      </div>
    </div>

    <div class="adaptation__item adaptation__item_first">
      <div class="number number__second">
        <h3>2</h3>
      </div>

      <div class="adaptation__item_text">
        <p>
          Мы вселяем в малыша уверенность и чувство успешности в разнообразных действиях, за счет
          увлечения интересными играми и заданиями
        </p>
      </div>
    </div>

    <img src="assets/img/arrow1.png" class="adaptation__arrow_first" />
    <img src="assets/img/arrow2.png" class="adaptation__arrow_second" />
  </div>

  <div class="adaptation adaptation_midl">
    <div class="adaptation__item adaptation__item_second">
      <div class="number number__third">
        <h3>3</h3>
      </div>

      <div class="adaptation__item_text">
        <p>Всё в садике даёт ребенку ощущение безопасности</p>
      </div>
    </div>

    <div class="adaptation__item adaptation__item_third">
      <div class="number number__fourth">
        <h3>4</h3>
      </div>

      <div class="adaptation__item_text">
        <p>
          Разрабатываем индивидуальный режим дня каждого ребенка в соответствии с алгоритмом
          постепенного вхождения в детский сад
        </p>
      </div>
    </div>

    <img src="assets/img/arrow3.png" class="adaptation__arrow_third" />
    <img src="assets/img/arrow4.png" class="adaptation__arrow_fourth" />
  </div>

  <div class="adaptation adaptation_bottom">
    <div class="adaptation__item adaptation__item_fourth">
      <div class="number">
        <h3>5</h3>
      </div>

      <div class="adaptation__item_text">
        <p>
          После всех этапов Ваш малыш с радостью и нетерпением будет оставаться на целый день в
          нашем саду
        </p>
      </div>
    </div>

    <img src="assets/img/arrow5.png" class="adaptation__arrow_fifth" />
  </div>
</div>
