<div class="groups-block">
  <img src="assets/img/FonImgGroup.png" alt="" class="Fon-Img-Group" />
  <div class="groups-block__title-box">
    <h1>Наши группы</h1>
    <p>
      Наш детский сад - это закрытое пространство для 40 человек, где 4 группы разбиты по возрастам.
      Малыши, в игровой форме, проходят плавную социализацию, обучаются первым базовым навыкам
      самообслуживания, окружены заботой, качеством и красотой.
    </p>
  </div>
  <div class="groups-block__main-body">
    <div class="groups-block__item-body">
      <img src="assets/img/contr-baby-boy.png" alt="" />
      <div class="text-box">
        <h3>Малышарики</h3>
        <h4>1.5 - 3 года</h4>
        <h5>ясли</h5>
        <p>
          Мы учим делиться, договариваться, сочувствовать - так малыши приобретают социальные
          навыки. Все новое ребята познают в коротких играх, которые чередуются с танцевальными
          минутками. Увеличивают словарный запас, знакомятся с буквами, развивают координацию
          движений и с удовольствием пробуют работать с различными материалами для творчества.
        </p>
        <ul>
          <li><a routerLink="/menu">Меню</a></li>
          <li><a routerLink="/routine">Режим дня</a></li>
        </ul>
      </div>
    </div>
    <div class="groups-block__item-body">
      <img src="assets/img/contr-giants.png" alt="" />
      <div class="text-box">
        <h3>Великаны</h3>
        <h4>3 - 4.5 года</h4>
        <h5>младшая группа</h5>
        <p>
          Ребята незаметно для себя в песнях запоминают буквы на кубиках и учатся читать. В игровых
          ситуациях дети развивают свою речь, делают логопедическую гимнастику, учатся различать
          эмоции. Погружаются в мир цифр, форм и цвета с помощью ярких наглядных пособий.
        </p>
        <ul>
          <li><a routerLink="/menu">Меню</a></li>
          <li><a routerLink="/routine">Режим дня</a></li>
        </ul>
      </div>
    </div>
    <div class="groups-block__item-body">
      <img src="assets/img/contr-letterland.png" alt="" />
      <div class="text-box">
        <h3>Букваленд</h3>
        <h4>4.5 - 5.5 лет</h4>
        <h5>средняя группа</h5>
        <p>
          Ребята погружаются в мир чтения и постепенно подготавливают ручку к письму. Знакомятся с
          миром математики, развивают логическое мышление и узнают практические навыки из всех
          областей жизни. В игровых заданиях задействуются все виды восприятия, чтобы в памяти детей
          сохранился объемный образ изучаемого явления.
        </p>
        <ul>
          <li><a routerLink="/menu">Меню</a></li>
          <li><a routerLink="/routine">Режим дня</a></li>
        </ul>
      </div>
    </div>
    <div class="groups-block__item-body">
      <img src="assets/img/contr-british.png" alt="" />
      <div class="text-box">
        <h3>Британика</h3>
        <h4>5.5 - 7 лет</h4>
        <h5>старшая группа</h5>
        <p>
          Внимательность и умение сосредоточиться - залог успеха в начальной школе. Помимо освоения
          навыков чтения, счета и общения дети обязательно развивают свой физический интеллект: игры
          на развитие ловкости, выносливости и координации. Уделяем время постановке руки и
          тренируем мелкую моторику
        </p>
        <ul>
          <li><a routerLink="/menu">Меню</a></li>
          <li><a routerLink="/routine">Режим дня</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="groups-block__button-box">
    <app-button-red-app titleButton="Узнать стоимость"></app-button-red-app>
  </div>

  <div class="video-monitoring-block">
    <app-block-big-quotes
      titleBlock="Видеонаблюдение в Золотом малышей"
      paragraphFirst="Видеонаблюдение в детском саду на текущий момент очень актуально и необходимо как для
      администрации учреждения для усиления мер безопасности и контроля сотрудников, так и для
      родительского контроля."
      paragraphSecond="Каждый родитель может наблюдать за процессом воспитания и обучения своего малыша в реальном
      времени. Система видеонаблюдения - это, в первую очередь, спокойствие родителей и
      безопасность детей!"
    >
    </app-block-big-quotes>
    <img src="assets/img/security-cameraImg.png" alt="" class="cameraImg" />
    <img src="assets/img/pazl-imgFon.png" alt="" class="pazl" />
  </div>
</div>
