<div class="price">
  <div class="container">
    <app-link-return></app-link-return>
    <div class="price__main-title">
      <h1>Стоимость посещения сада</h1>
      <h4>Здесь Вы можете ознакомиться с ценами на наши услуги</h4>
    </div>

    <img
      src="assets/img/super-hero-prise__top.png"
      class="super-hero-prise super-hero-prise__top"
    />

    <ng-container *ngFor="let description of price">
      <div class="price-list">
        <div class="price-list__title">
          <h2>{{ description.title }}</h2>
        </div>

        <div class="price-list__body">
          <div class="price-list__age">
            <h5>Возраст:</h5>
            <p>{{ description.age }}</p>
          </div>

          <div class="price-list__description">
            <h5>В стоимость входит:</h5>

            <p>{{ description.includedPrice[0] }}</p>
            <p>{{ description.includedPrice[1] }}</p>
            <p>{{ description.includedPrice[2] }}</p>
            <p>{{ description.includedPrice[3] }}</p>
            <p>{{ description.includedPrice[4] }}</p>
            <p>{{ description.includedPrice[5] }}</p>
          </div>

          <div class="price-list__time">
            <h5>Время:</h5>
            <p>{{ description.time }}</p>
          </div>
        </div>
        <div class="price-list__end">
          <button class="price-list__orange-button" (click)="openForm()">Записаться</button>
          <h6>{{ description.price }}/ месяц</h6>
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let item of fee">
      <div class="fee" style="margin-top: 65px">
        <h2>{{ item.title }}</h2>
        <h6>{{ item.price }}</h6>
        <p>{{ item.description }}</p>
      </div>
    </ng-container>

    <img
      src="assets/img/super-hero-prise__bottom.png"
      class="super-hero-prise super-hero-prise__bottom"
    />
    <app-button title="Посмотреть режим дня" (click)="goShcedule()"></app-button>
  </div>
</div>
