<div class="daily-routine">
  <div class="container">
    <div class="baby-boy-routine">
      <app-link-return></app-link-return>

      <div class="baby-boy-routine__text-block">
        <div class="baby-boy-routine__title-box">
          <h1>Режим дня</h1>
        </div>
        <h2>Режим дня в группе “Малышарики”</h2>

        <div class="routine">
          <div class="routine-body">
            <div class="routine__time">
              <h3>8:00 - 8:45</h3>
              <h3>8:45 - 9:00</h3>
              <h3>9:00 - 9:20</h3>
              <h3>9:20 - 9:30</h3>
              <h3>9:30 - 9:45</h3>
              <h3>9:45 - 10:00</h3>
              <h3>10:00 - 10:45</h3>
              <h3>10:45 - 11:00</h3>
              <h3>11:00 - 11:15</h3>
              <h3>11:15 - 11:30</h3>
              <h3>11:30 - 12:00</h3>
              <h3>12:00 - 12:20</h3>
              <h3>12:20 - 15:00</h3>
              <h3>15:00 - 15:15</h3>
              <h3>15:15 - 15:30</h3>
              <h3>15:30 - 15:45</h3>
              <h3>15:45 - 16:30</h3>
              <h3>16:30 - 17:00</h3>
              <h3>17:00 - 17:30</h3>
              <h3>17:30 - 18:00</h3>
              <h3>17:30 - 18:00</h3>
            </div>
            <div class="routine__description">
              <p>Прием детей / самостоятельная деятельность</p>
              <p>Зарядка / дыхательная гимнастика</p>
              <p>Подготовка к завтраку / завтрак (1-й прием пищи)</p>
              <p>Самостоятельная деятельность</p>
              <p>Игровая деятельность (согласно расписанию)</p>
              <p>Фуктовый перекус (2-й прием пищи)</p>
              <p>Подготовка к прогулке / прогулка (самостоятельные и групповые игры на воздухе)</p>
              <p>Возвращение с прогулки / гигиена</p>
              <p>Самостоятельная деятельность</p>
              <p>Игровая деятельность</p>
              <p>Подготовка к обеду / обед (3-й прием пищи)</p>
              <p>Подготовка к тихому часу</p>
              <p>Тихий час</p>
              <p>Медленное пробуждение / релаксация</p>
              <p>Полдник (4-й прием пищи)</p>
              <p>Игровая деятельность (согласно расписанию)</p>
              <p>Подготовка к прогулке / прогулка</p>
              <p>Возвращение с прогулки / подготовка к ужину</p>
              <p>Ужин (5-й прием пищи)</p>
              <p>Чтение худ. литературы</p>
              <p>Самостоятельная деятельность / взаимодействие с родителями / уход домой</p>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/tree-routine-img.png" class="baby-boy-routine__fon" />
    </div>

    <div class="giants-routine">
      <div class="giants-routine__text-block">
        <h2>Режим дня в группе “Великаны”</h2>

        <div class="routine routine__giants">
          <div class="routine-body routine-body__giants">
            <div class="routine__time">
              <h3>8:00 - 8:45</h3>
              <h3>8:45 - 9:00</h3>
              <h3>9:00 - 9:20</h3>
              <h3>9:20 - 9:30</h3>
              <h3>9:30 - 10:00</h3>
              <h3>10:00 - 10:15</h3>
              <h3>10:15 - 11:15</h3>
              <h3>11:15 - 11:30</h3>
              <h3>11:30 - 12:00</h3>
              <h3>12:00 - 12:30</h3>
              <h3>12:30 - 15:10</h3>
              <h3>15:10 - 15:30</h3>
              <h3>15:30 - 15:40</h3>
              <h3>15:40 - 16:10</h3>
              <h3>16:10 - 16:30</h3>
              <h3>16:30 - 17:15</h3>
              <h3>17:15 - 17:30</h3>
              <h3>17:30 - 18:00</h3>
              <h3>18:00 - 19:00</h3>
            </div>
            <div class="routine__description">
              <p>Прием детей / самостоятельная деятельность</p>
              <p>Зарядка / дыхательная гимнастика</p>
              <p>Подготовка к завтраку / завтрак (1-й прием пищи)</p>
              <p>Игровая деятельность</p>
              <p>Интеллектуально-игровой блок (согласно расписанию)</p>
              <p>Фуктовый перекус (2-й прием пищи)</p>
              <p>Подготовка к прогулке / прогулка (самостоятельные и групповые игры на воздухе)</p>
              <p>Возвращение с прогулки / подготовка к интеллектуально-игровому блоку</p>
              <p>Интеллектуально-игровой блок (согласно расписанию)</p>
              <p>Подготовка к обеду / обед (3-й прием пищи)</p>
              <p>Подготовка к тихому часу / Тихий час</p>
              <p>Медленное пробуждение / релаксация</p>
              <p>Полдник (4-й прием пищи)</p>
              <p>Интеллектуально-игровой блок (согласно расписанию)</p>
              <p>Совместная деятельность “взрослый + ребенок” (согласно расписанию)</p>
              <p>Подготовка к прогулке / прогулка</p>
              <p>Возвращение с прогулки / подготовка к ужину</p>
              <p>Ужин (5-й прием пищи)</p>
              <p>Самостоятельная деятельность / взаимодействие с родителями / уход домой</p>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/giants-routine-img.png" class="giants-routine__fon" />
    </div>

    <div class="letterlend-routine">
      <div class="letterlend-routine__text-block">
        <h2>Режим дня в группе “Букваленд”</h2>

        <div class="routine routine__letterlend">
          <div class="routine-body routine-body__letterlend">
            <div class="routine__time">
              <h3>8:00 - 8:45</h3>
              <h3>8:45 - 9:00</h3>
              <h3>9:00 - 9:20</h3>
              <h3>9:20 - 9:30</h3>
              <h3>9:30 - 10:00</h3>
              <h3>10:00 - 10:15</h3>
              <h3>10:15 - 11:15</h3>
              <h3>11:15 - 11:30</h3>
              <h3>11:30 - 12:00</h3>
              <h3>12:00 - 12:30</h3>
              <h3>12:30 - 15:10</h3>
              <h3>15:10 - 15:30</h3>
              <h3>15:30 - 15:40</h3>
              <h3>15:40 - 16:10</h3>
              <h3>16:10 - 16:30</h3>
              <h3>16:30 - 17:15</h3>
              <h3>17:15 - 17:30</h3>
              <h3>17:30 - 18:00</h3>
              <h3>18:00 - 19:00</h3>
            </div>
            <div class="routine__description">
              <p>Прием детей / самостоятельная деятельность</p>
              <p>Зарядка / дыхательная гимнастика</p>
              <p>Подготовка к завтраку / завтрак (1-й прием пищи)</p>
              <p>Игровая деятельность</p>
              <p>Интеллектуально-игровой блок (согласно расписанию)</p>
              <p>Фуктовый перекус (2-й прием пищи)</p>
              <p>Подготовка к прогулке / прогулка (самостоятельные и групповые игры на воздухе)</p>
              <p>Возвращение с прогулки / подготовка к интеллектуально-игровому блоку</p>
              <p>Интеллектуально-игровой блок (согласно расписанию)</p>
              <p>Подготовка к обеду / обед (3-й прием пищи)</p>
              <p>Подготовка к тихому часу / Тихий час</p>
              <p>Медленное пробуждение / релаксация</p>
              <p>Полдник (4-й прием пищи)</p>
              <p>Интеллектуально-игровой блок (согласно расписанию)</p>
              <p>Совместная деятельность “взрослый + ребенок” (согласно расписанию)</p>
              <p>Подготовка к прогулке / прогулка</p>
              <p>Возвращение с прогулки / подготовка к ужину</p>
              <p>Ужин (5-й прием пищи)</p>
              <p>Самостоятельная деятельность / взаимодействие с родителями / уход домой</p>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/letterland-routine-img.png" class="letterlend-routine__fon" />
    </div>
  </div>
</div>
