<div class="main-page">
  <div class="container">
    <div class="main-page-body">
      <!-- Entranse selection -->
      <div class="entranse-block">
        <div class="offer-box">
          <div class="offer-box__text-elem">
            <img src="assets/img/Vector-Img.png" alt="" class="img-vector-first" />
            <h2>Золотой малыш</h2>
            <h4>Интелектуальный детский сад</h4>
            <p>В нашем саду вы найдете комплексный и экологичный подход в воспитании ребенка.</p>
            <app-button title="Оставить заявку"></app-button>
            <img src="assets/img/coronaImg.png" alt="" class="btn-application_coron" />
          </div>
        </div>

        <div class="img-box">
          <img src="assets/img/Img-entrance-main-page.png" alt="" />
        </div>
      </div>

      <!-- Parent selection -->
      <div class="parent-info-block">
        <app-block-big-quotes
          titleBlock="Дорогие родители!"
          paragraphFirst="Детский сад “Золотой малыш” - это закрытое премиальное клубное пространство, на
          площадке которого осуществяется не просто базовый присмотр и уход. Это комфортная,
          здоровая, веселая, душевная среда игрового времяпровождения детей."
          paragraphSecond="Наша задача, что бы ваши дети выросли здоровыми, счастливыми и успешными. Ребенок, его
          свобода, любознательность, интерес к познанию - главные ценности нашего проекта. Мы
          создали Детский сад, который нравится не только родителям, но и детям!"
        >
        </app-block-big-quotes>

        <img src="assets/img/Vector-Img-Block2.png" alt="" class="img-vector-second" />
      </div>
      <app-conditions-block></app-conditions-block>
      <app-groups-view></app-groups-view>
    </div>
  </div>
  <!-- slider -->
  <app-slider></app-slider>

  <div class="container">
    <div class="main-page-body">
      <app-adaptation-children></app-adaptation-children>
    </div>
  </div>

  <app-bid-body-main-page></app-bid-body-main-page>
</div>
