@import 'variables';

.btn {
  font-weight: 300;

  font-size: $size;
  line-height: 17px;

  box-shadow: 0px 8px 17px #931f2d;
  color: $white;
  width: 185px;
  height: 48px;
  background: #f3344b;
  border: none;
  border-radius: 50px;
  z-index: 89999;
  transition: 1s;

  &:hover {
    cursor: pointer;
    background: #ff5d70;
    transition: 1s;
  }

  &_disabled {
    background-color: gray;
    color: white;
    box-shadow: none;

    &:hover {
      background-color: gray;
      color: white;
      box-shadow: none;
    }
  }
}
