<form class="application-form-body" [formGroup]="feedbackForm">
  <h2>Оставьте заявку</h2>
  <h4>Заполните форму и мы Вам перезвоним</h4>

  <div class="application-form-body__form-field">
    <input
      type="text"
      placeholder="Ваше имя*"
      formControlName="parentName"
      [class.application-form-body__form-field_input-error]="
        control('parentName')?.invalid && control('parentName')?.dirty
      "
    />

    <ng-container *ngIf="control('parentName')?.invalid && control('parentName')?.dirty">
      <div>
        <span class="application-form-body__form-field_error"> Это поле необъодимо заполнить </span>
      </div>
    </ng-container>
  </div>

  <div class="application-form-body__form-field">
    <input type="text" placeholder="+7 000 000 00 00*" formControlName="phone" />

    <ng-container *ngIf="control('phone')?.invalid && control('phone')?.dirty">
      <div>
        <span class="application-form-body__form-field_error"
          >Телефон должен иметь формат +7 000 000 00 00</span
        >
      </div>
    </ng-container>
  </div>

  <!-- <div class="application-form-body__form-field">
    <input type="text" placeholder="Имя ребенка" name="childName" />
  </div>

  <div class="application-form-body__form-field">
    <input type="date" placeholder="Дата рождения ребенка" name="date" />
  </div>

  <div class="application-form-body__form-field">
    <input type="tel" name="phone" placeholder="*Телефон" name="phone" />
    <div>
      <span class="application-form-body__form-field_error">Неверно введен номер</span>
    </div>
  </div>

  <div class="application-form-body__form-field">
    <input type="text" placeholder="Комментарий" name="comment" />
  </div>



  <div class="checkbox-block">
    <input type="checkbox" name="checkbox" class="cb-block" id="checkbox-id" />
    <label for="checkbox-id" style="font-size: 12px; line-height: 15px; color: #3c3c3c"
      >Я согласен(а) на обработку персональных данных и принимаю политику конфиденциальности</label
    >
  </div> -->

  <div>
    <app-button
      title="Отправить"
      class="application-form-body__button"
      [disabled]="!!feedbackForm?.invalid"
      (click)="submit()"
    ></app-button>
  </div>
</form>
