<form class="application-form-body" (submit)="submit()">
  <h2>Оставьте заявку</h2>
  <h4>Заполните форму и мы Вам перезвоним</h4>

  <div class="application-form-body__form-field">
    <input
      type="text"
      placeholder="*Ваше имя"
      name="parentsName"
      [class.application-form-body__form-field_input-error]="
        feedback.parentName.length === 0 && parentsName.dirty
      "
      #parentsName="ngModel"
      [(ngModel)]="feedback.parentName"
      (ngModelChange)="validate()"
    />

    <div *ngIf="feedback.parentName.length === 0 && parentsName.dirty">
      <span class="application-form-body__form-field_error"> Это поле необъодимо заполнить </span>
    </div>
  </div>

  <div class="application-form-body__form-field">
    <input
      type="text"
      placeholder="Имя ребенка"
      name="childName"
      #childName="ngModel"
      [(ngModel)]="feedback.childName"
      (ngModelChange)="validate()"
    />
  </div>

  <div class="application-form-body__form-field">
    <input
      type="date"
      placeholder="Дата рождения ребенка"
      name="date"
      [(ngModel)]="feedback.birthday"
      (ngModelChange)="validate()"
    />
  </div>

  <div class="application-form-body__form-field">
    <input
      type="tel"
      name="phone"
      placeholder="*Телефон"
      name="phone"
      #phone="ngModel"
      [class.application-form-body__form-field_input-error]="
        feedback.phone.length === 0 && phone.dirty
      "
      [(ngModel)]="feedback.phone"
      (ngModelChange)="validate()"
    />
    <div *ngIf="feedback.phone.length === 0 && phone.dirty">
      <span class="application-form-body__form-field_error">Неверно введен номер</span>
    </div>
  </div>

  <div class="application-form-body__form-field">
    <input
      type="text"
      placeholder="Комментарий"
      name="comment"
      #comment="ngModel"
      [(ngModel)]="feedback.comment"
      (ngModelChange)="validate()"
    />
  </div>

  <app-button
    title="Отправить"
    [disabled]="!formValid"
    class="application-form-body__button"
  ></app-button>

  <div class="checkbox-block">
    <input
      type="checkbox"
      name="checkbox"
      class="cb-block"
      id="checkbox-id"
      #agreement="ngModel"
      [(ngModel)]="feedback.agreement"
      (ngModelChange)="validate()"
    />
    <label for="checkbox-id" style="font-size: 12px; line-height: 15px; color: #3c3c3c"
      >Я согласен(а) на обработку персональных данных и принимаю политику конфиденциальности</label
    >
  </div>
</form>
