@import 'variables';
@import 'layout';

.btn-application {
  font-family: $base-font;
  font-weight: 300;
  margin-top: 44px;
  font-size: $size;
  line-height: 17px;
  background: #f3344b;
  border-radius: 50px;
  color: $white;
  width: 185px;
  height: 48px;
  border: none;
  box-shadow: 0px 8px 17px #931f2d;
  z-index: 89999;
  outline: none;
  transition: 1s;
}
.btn-application:hover {
  cursor: pointer;
  background: #ff5d70;
  transition: 1s;
}
