.btn-application {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  margin-top: 44px;
  font-size: 14px;
  line-height: 17px;
  background: #f3344b;
  border-radius: 50px;
  color: #ffffff;
  width: 185px;
  height: 48px;
  border: none;
  box-shadow: 0px 8px 17px #931f2d;
  z-index: 89999;
  :hover {
    cursor: pointer;
    background: #ff5d70;
  }
}

.btn-application_coron::before {
  content: '';
  background-image: url(../../assets/img/coronaImg.png);
  position: absolute;
  left: 145px;
  top: 317px;
  width: 73px;
  height: 70px;
}
